header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    /* DESIGN:*/
    background-color: rgb(16, 144, 218);
    color: white;
    border: 2px solid black;
    padding: 2%;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header a {
    text-decoration: none;
}


nav a:hover {
    transform: scale(1.2);
}


.navLinks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
}


h1 {
    font-family: Georgia, serif;
    color: rgb(0, 0, 0);
}


.indexButtons {
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 75px;
    font-family: 'Brush Script MT', cursive;
    color: white;
}


#goToPizzaBtn {
    background-image: url("../Bilder/index/pizza.png");
}


#goToSaladBtn {
    background-image: url("../Bilder/index/salat.png");
}


#goToSoftDrinkBtn {
    background-image: url("../Bilder/index/soft.png");
}


.h1UnderHeaderOnAllPages {
    display: flex;
    justify-content: center;
    font-size: 50px;
}


footer {
    margin-top: auto;
    background-color: rgb(16, 144, 218);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}


#firstPicIndex img {
    display: flex;
    width: 30%;
    height: auto;
    min-width: 300px;
    margin: auto;
}


.index3pics {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}


/* Styles Pizza.html*/
div.flex-container h2 {
    padding-right: 5px;
    font-size: larger;
}


.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


div.description {
    font-size: small;
    padding-bottom: 10px;
}


.picturesForPagesWithProducts {
    width: 400px;
    height: 300px;
}


.schoppingcartImg {
    width: 35px;
    height: 35px;
    padding-top: 8px;
}


.textunderpictures {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
}


#cartContainer {

    cursor: pointer;
    background-image: url("../Bilder/shoppingcart.png");
    background-repeat: no-repeat;
    background-position: 40% 40%;
    text-align: center;
    background-size: 80px 80px;
    height: 100px;
    width: 100px;
    padding: 28px;
    margin: 20px;
}


#cartContainer:hover {
    transform: scale(1.1);
}


#YourCartTextInHeader {
    font-size: large;
    padding-top: 20px;
    color: #000000;
}


#cartContent {
    text-align: center;
    background-color: rgba(211, 211, 211, 0.664);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    min-height: 100vh;
    max-height: 100vh;
    width: 200px;
    overflow-y: scroll;
}


#AddToCartBtn {
    padding: 8px;
    margin-right: 5px;
}


#ResetBtnInCartContent {
    margin-bottom: 10px;
}
/* Styles Salad.html und Sotftdrink.html: */
div.SelectWithShoppingCartAndPriceTogether {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}


select {
    min-width: 250px;
    min-height: 40px;
}


/*Styles feedback.html:*/
.feedbackpageform {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: x-large;
}


.formRow {
    display: flex;
    margin-bottom: 10px;
    gap: 22px;
}


.radioBtns {
    min-width: 450px;
}


.divLabel {
    width: 50%;
}


#improvementslabel {
    vertical-align: top;
}


.textareas {
    min-width: 450px;
    border: 2px solid black;
}


.button {
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: white;
    border: 2px solid black;
    border-radius: 2px;
    box-shadow: 7px 6px #999;
}


#ButtonFeedbackPage {
    display: flex;
    justify-content: flex-end;
}


/*Device size adjustments*/
@media only screen and (max-width: 800px) {
    .formRow {
        flex-direction: column;
    }

    .divLabel {
        width: 100%;
    }
}


@media only screen and (max-width: 850px) {
    #YourCartTextInHeader {
        display: none;
    }
}